<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <div class="text-center">
            <img src="/img/logo.png" height="199" width="209">
        </div>
        <h1 class="text-center">Instructions</h1>
        <ol>
            <li>Register yourself at the <a href="/register">registration page</a></li>
            <li>Hunt around the campus to find our hidden posters and solve the puzzles on them</li>
            <li>Submit them on the <a href="/submit">submit</a> page</li>
            <li>Stand a chance to win attractive prizes!</li>
        </ol>
        <hr>
        <p>Proudly brought to you by SSRC, IRS and Astro!</p>
    </div>
</div>