<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <div class="text-center">
            <img src="/img/logo.jpg" height="200" width="200">
        </div>
        <h1 class="text-center">Instructions</h1>
        <ol>
            <li>Register yourself at the <a href="/register">registration page</a></li>
            <li>Hunt around the campus to find our hidden posters and solve the puzzles on them</li>
            <li>Submit them on the <a href="/submit">submit</a> page</li>
            <li>
                Stand a chance to win attractive prizes!
                <dl class="row">
                    <dt class="col-lg-3">1<sup>st</sup> Prize</dt>
                    <dd class="col-lg-9">$20 Popular Voucher + 3D Printed HC100 Logo</dd>
                    <dt class="col-lg-3">2<sup>nd</sup> Prize</dt>
                    <dd class="col-lg-9">$15 Popular Voucher + 3D Printed HC100 Logo</dd>
                    <dt class="col-lg-3">3<sup>rd</sup> Prize</dt>
                    <dd class="col-lg-9">$10 Popular Voucher + 3D Printed HC100 Logo</dd>
                    <dt class="col-lg-3">Random Draw</dt>
                    <dd class="col-lg-9">3D Printed HC100 Logo</dd>
                </dl>
            </li>
        </ol>
        <hr>
        <p>Proudly brought to you by SSRC, IRS and Astro!</p>
    </div>
</div>