<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <h1 class="text-center">Register new account</h1>
        <div class="alert alert-warning">
            <i class="fas fa-trash"></i> Spam accounts are liable for deletion. You have been warned!
        </div>
        <form action="/users/signup" method="post">
            <div class="form-group row">
                <label for="username" class="col-lg-2 col-form-label">Username</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="username" name="username" required>
                    <span class="text-muted">Trailing whitespace will be trimmed</span>
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-lg-2 col-form-label">Password</label>
                <div class="col-lg-10">
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="name" class="col-lg-2 col-form-label">Name</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="class" class="col-lg-2 col-form-label">Class</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="class" name="class" required pattern="1[7-8](A|S)(1|6|7)([0-9]|[A-K])" placeholder="17S6A">
                </div>
            </div>
            <div class="form-group row">
                <label for="phone" class="col-lg-2 col-form-label">Phone</label>
                <div class="col-lg-10">
                    <input type="tel" class="form-control" id="phone" name="phone" required pattern="[0-9]{8}">
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-lg-2 col-form-label">Email</label>
                <div class="col-lg-10">
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
            </div>
            <button type="submit" class="btn btn-success"><i class="fas fa-user-plus"></i> Sign Up</button>
        </form>
    </div>
</div>